package routes

import "github.com/gofiber/fiber/v2"

type Response{{.Name}} struct{
	Code int
	Message string
	Data interface{}
}

func {{.Name}}Route(c *fiber.Ctx) error{
	
	resp := Response{
		Message: "response from {{.Name}}",
		Data: []string{},
	};
	
	return c.JSON(resp);
}

